@model Models.Tb_ApplyTable

@{
    ViewBag.Title = "编辑";
    Layout = "~/Views/Shared/SoftDown_Layout.cshtml";
}
@section  span9{

    <h2>编辑申请表</h2>
    @using (Html.BeginForm())
    {

        <fieldset>
            <legend>申请表信息</legend>

            @Html.HiddenFor(model => model.ApplyID)

            <table>
                @foreach (var item in ViewBag.listShowAppTable as List<Models.Tb_FieldTable>)
                {
                    <tr>
                        <td>@item.DisplayName</td>
                        <td>
                            @{Dictionary<string, object> dic = (Dictionary<string, object>)ViewBag.dic;
                            }
                            <input class="text-box single-line valid" id="@item.FieldName" name="@item.FieldName" value="@dic.First(m => m.Key == item.FieldName).Value" type="text">
                        </td>
                    </tr>
                }
            </table>

            <p>
                <input type="submit" value="保存编辑" />
            </p>
        </fieldset>
    }


}
@section booterScript{

    <script src="~/Content/vendors/jquery-1.9.1.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/DT_bootstrap.js"></script>
    <script src="~/Content/assets/scripts.js"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}