@model Models.Tb_ApplySoftList

@{
    ViewBag.Title = "EditApplySoftList";
    Layout = "~/Views/Shared/SoftDown_Layout.cshtml";
}
@section  span9{
<h2>编辑已添加的软件</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>已添加的软件信息</legend>

        @Html.HiddenFor(model => model.ApplySoftID)

        <div class="editor-label">
            @Html.LabelFor(model => model.SoftCourseName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoftCourseName)
            @Html.ValidationMessageFor(model => model.SoftCourseName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TrainNumPerYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TrainNumPerYear)
            @Html.ValidationMessageFor(model => model.TrainNumPerYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplyNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplyNum)
            @Html.ValidationMessageFor(model => model.ApplyNum)
        </div>
        @Html.HiddenFor(model => model.ApplyID)
        @Html.HiddenFor(model => model.SoftID)
        <p>
            <input type="submit" value="保存" />
        </p><div>
    @Html.ActionLink("回到列表", "ApplyedSoftList", new { id=ViewBag.appID})
</div>
    </fieldset>
}
}
@section booterScript{

    <script src="~/Content/vendors/jquery-1.9.1.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/DT_bootstrap.js"></script>
    <script src="~/Content/assets/scripts.js"></script>
}
