@{
    ViewBag.Title = "SoftUse";
    Layout = "~/Views/Shared/SoftDown_Layout.cshtml";
}
@section  span9{
    @using (Html.BeginForm("SoftUse", "SoftDown"))
    {
        <div class="span9" id="content">
            <div class="row-fluid">
                <!-- block -->
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">软件列表</div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <input type="hidden" name="hideSoftsIDs" id="hideSoftsIDs" value="@ViewBag.dict" />
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>拟申请软件编号及名称</th>
                                        <th>计划使用获赠软件开设的课程名称</th>
                                        <th>计划培养学生数</th>
                                        <th>申请套数</th>
                                        @*                                                <th>实际人数</th>
                                                <th>课程状态</th>
                                                 <th>编辑课程</th>
                                                <th>删除课程</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        
        int i = 1;
        foreach (string item in @ViewBag.softs)
        {
                                        <tr class="odd gradeX">

                                            <td>@i</td>
                                            <td>@item</td>
                                            <td>
                                                <input id="CourseName&@item" name="CourseName&@item" type="text" /></td>
                                            <td class="center">
                                                <input id="StuNum&@item" name="StuNum&@item" type="text" /></td>
                                            <td class="center">
                                                <input id="ApplyNum&@item" name="ApplyNum&@item" type="text" /></td>
                                        </tr>
            i++;
        }
                                    }



                                </tbody>
                            </table>
                            <input type="submit" class="btn btn-success" value="提交" />

                        </div>
                    </div>
                </div>
                <!-- /block -->
            </div>
        </div>
    }

    @*    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
}
@section booterScript{
    <script src="~/Content/vendors/jquery-1.9.1.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/DT_bootstrap.js"></script>

    <script src="~/Content/assets/scripts.js"></script>

    <script>
        $(function () {

        });
    </script>
}