@model Models.Tb_SoftCourse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/SoftDown_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Tb_SoftCourse</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoftPlatform)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoftPlatform)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StuNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StuNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApplyID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplyID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
